* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #010101;
  margin: 0;
  display: flex;
}
aside{
  background-color: #121212;
  width: 80%;
  height: 82vh;
  margin: 10px;
  border-radius: 20px;
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
  overflow-x: hidden;
  scrollbar-width: thin;
}
#nombre{
  display: block;
  background-color: #2c2c2c;
  width: 99%;
  height: 7vh;
  margin: 10px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#nombre p{
  color: white;
font-size: 30px;
font-family: Circularbold;
margin-right: 100px;
}
#Cancion{
  width: 96%;
  height: 12vh;
  margin: 20px;
  display: flex;
  /*background-color:red;*/
  align-items: center;
  transition: background-color 0.3s ease; /* Transición suave */
}
#Cancion:hover {
  background-color: #2c2c2c; /* Gris oscuro al pasar el ratón */
}
/* Por si acaso */
#Cancion img{
  height: 80px;
  width: 80px;
  margin-left: 5px;
  margin-top: 3px;

}
/* CENTRAR TEXTO Y COLOR */
#info{
  /*background-color:green;*/
  color: white;
  width: 25%;
  height: 80%;
  margin: 10px;
  display: flex;         
  flex-direction: column; /* Acomodar texto en formato columna */
  justify-content: center;/* Poner el texto al medio del div */
}
/* MARGEN TEXTO - ? */
#info p{
  margin-top: 13px;
  font-size: 20px;
  margin-left: 20px;
}
nav {
  background-color: #121212;
  width: 20%;
  height: 82vh;
  margin: 10px;
  border-radius: 20px;
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
  overflow-x: hidden;
  scrollbar-width: thin;
}
/* Estilos para la barra de desplazamiento en el elemento nav */
nav::-webkit-scrollbar {
  width: 12px;
}

nav::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

nav::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* Estilos para la barra de desplazamiento en el elemento aside */
aside::-webkit-scrollbar {
  width: 12px;
}

aside::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

aside::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

#playlist{
  margin: 10%;
}
ul{
  list-style-type: none;
}
li{
  margin-top: 70px;
  text-align: center;
}
li a{
  list-style: none;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: Circularbold;
}
#r a{
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

footer {
  background-color: #010101;
  position: fixed;
  width: 100%;
  height: 15vh;
  bottom: 0;
  display: flex;
}
/* DIV IMG */
#infoimg{
  width: 20%;
  height: 12vh;
  margin: 10px;
  display: flex;  /* Centrar imagen div */
  
}
#infoimg img{
  max-width: 100%;
  max-height: 100%;
  margin-left: 25px;
}
 /* DIV TEXTO IMG*/
#texto {      
  width: 100%;
  height: 80%;
  margin: 10px;
  display: flex;         
  flex-direction: column; /* Acomodar texto en formato columna */
  justify-content: center;/* Poner el texto al medio del div */
  align-items: center;    /* Centrar el texto al medio */
}
 /* COLOR TEXTO IMG*/
#texto p{
  color: white;
  font-size: 13px;
}
/* FUENTE TITULO + AUTOR */
#titulo1{
  font-family: Circularbold;
}
#autor1{
  font-family: Circular;
}
 /* FUENTE TITULO + AUTOR */
#titulo{
  font-family: Circularbold;
}
#autor{
  font-family: Circular;
}
#currentTime{
  font-family: Circular;
  color: white;
  font-size: 12px;
}
#duration{
  font-family: Circular;
  color: white;
  font-size: 12px;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 59%;
  height: 15vh;
}
#Controles {
  margin-top: 35px;
  width: 24%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 17px;
}

#Time {
  width: 68%;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 90px;
}

#volumen1 {
  width: 20%;
  height: 13px;
  margin: 10px;
  margin-top: 80px;
}
#volumen {
  width: 40%;
  height: 5px;
  background-color: #494949;
  border-radius: 10px;
}
/* barra de volumen a color blanco para firefox */
#volumen::-moz-range-progress {
  background-color: white;
  width: 40%;
  height: 5px;
  border-radius: 10px;
}
#progressBar {
  width: 80%;
  height: 4px;
  margin-bottom: 4.5px;
  background-color: #494949;
  border-radius: 10px;
  border: none;
}
/* barra de duracion a color blanco para chrome */
#progressBar::-webkit-progress-value {
  background: linear-gradient(to right, white, white);
  border-radius: 0;
}
/* barra de duracion a color blanco para firefox */
#progressBar::-moz-progress-bar {
  background: linear-gradient(to right, white, white);
}
/* boton */
#Anterior img{
  width: 35px;
  height: 35px; 
  margin-right: 20px;
}
#play img{
  width: 45px;
  transition: transform .2s;
}
#play img:hover{
  transform: scale(1.1);
}
#Siguiente img{
  width: 35px; 
  height: 35px; 
  margin-left: 20px;
}
#stop img{
  width: 29px;
  height: 29px; 
  margin-left: 15px;
}
#aleatorio img{
  width: 30px;
  height: 30px; 
  margin-right: 10px;
}

@font-face {
  font-family: 'Circular';
  src: url(/Fuente/Circular.otf);
}
@font-face {
  font-family: 'Circularbold';
  src: url(/Fuente/Circularbold.otf);
}